* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  padding: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding: 10px 10px;
}
.nav-list a:hover {
  background-color: #fff;
  color: #000;
}
.open-btn {
  width: 100%;
  display: none;
}
.open-btn button {
  border: none;
}
.close-btn {
  width: 100%;
  display: none;

  justify-content: flex-end;
  padding: 0 12px;
}
.close-btn button {
  background-color: #422e2e;
  width: 40px;
  border: none;
  padding: 5px;
  color: #fff;
}
.mobile-nav {
  display: none;
}
.mobile-nav-list {
  background-color: #000;
  width: 100%;
  height: 100vh;
  list-style: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
  padding-top: 100px;
  position: absolute;
  right: -100%;
  top: 90px;
  transition: all 0.5s;
  z-index: 1;
}
.mobile-nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
.mobile-menu-icon {
  display: flex;
  justify-content: space-between;
}
.close {
  display: none;
}

.homepage-banner video {
  object-fit: cover;
  height: 100vh;
}
.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.main-content h1 {
  color: #fff;
  font-size: 90px;
}
.explore-btn {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.explore-btn:hover {
  background-color: blue;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .mobile-nav {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .main-content h1 {
    font-size: 64px;
  }
}
/* welcome page css */
.welcomebanner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.banner-text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.banner-text h1 {
  font-size: 90px;
  font-weight: 800;
}
.banner-text p {
  line-height: 24px;
}
.bg-overlay {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}
@media screen and (max-width: 600px) {
  .banner-text {
    padding: 10px;
  }
  .banner-text h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
  }
}

/* Plan your visit css */
